

button{
    width: 20px;
    height: 20px;
    border-radius: 100vh;
}

.back{
    position:relative;
    background-color: cornsilk;
    width:  500px;
	height: 500px;
}

.cent{
    position: absolute;
    text-align: center;
    top: 25px;
    right: 55px;
    height: 90%;

}



.piece06{    position: absolute;top: 20px;right: 240px; }
.piece15{    position: absolute;top: 73px;right: 273px; }
.piece17{    position: absolute;top: 73px;right: 209px; }
.piece20{    position: absolute;top: 130px;right: 435px; }
.piece22{    position: absolute;top: 130px;right: 370px; }
.piece24{    position: absolute;top: 130px;right: 305px; }
.piece26{    position: absolute;top: 130px;right: 240px; }
.piece28{    position: absolute;top: 130px;right: 175px; }
.piece2a{    position: absolute;top: 130px;right: 110px; }
.piece2c{    position: absolute;top: 130px;right: 45px; }
.piece31{    position: absolute;top: 185px;right: 400px; }
.piece33{    position: absolute;top: 185px;right: 335px; }
.piece35{    position: absolute;top: 185px;right: 270px; }
.piece37{    position: absolute;top: 185px;right: 205px; }
.piece39{    position: absolute;top: 185px;right: 145px; }
.piece3b{    position: absolute;top: 185px;right: 80px; }
.piece42{    position: absolute;top: 240px;right: 370px; }
.piece44{    position: absolute;top: 240px;right: 305px; }
.piece46{    position: absolute;top: 240px;right: 240px; }
.piece48{    position: absolute;top: 240px;right: 175px; }
.piece4a{    position: absolute;top: 240px;right: 110px; }
.piece51{    position: absolute;top: 295px;right: 400px; }
.piece53{    position: absolute;top: 295px;right: 335px; }
.piece55{    position: absolute;top: 295px;right: 270px; }
.piece57{    position: absolute;top: 295px;right: 205px; }
.piece59{    position: absolute;top: 295px;right: 145px; }
.piece5b{    position: absolute;top: 295px;right: 80px; }
.piece60{    position: absolute;top: 350px;right: 435px; }
.piece62{    position: absolute;top: 350px;right: 370px; }
.piece64{    position: absolute;top: 350px;right: 305px; }
.piece66{    position: absolute;top: 350px;right: 240px; }
.piece68{    position: absolute;top: 350px;right: 175px; }
.piece6a{    position: absolute;top: 350px;right: 110px; }
.piece6c{    position: absolute;top: 350px;right: 45px; }
.piece75{    position: absolute;top: 405px;right: 273px; }
.piece77{    position: absolute;top: 405px;right: 209px; }
.piece86{    position: absolute;top: 460px;right: 240px; }