

button{
    width: 20px;
    height: 20px;
    border-radius: 100vh;
}

.back{
    position:relative;
    background-color: cornsilk;
    width:  500px;
	height: 500px;
}

.cent{
    position: absolute;
    text-align: center;
    top: 25px;
    right: -15px;
    height: 90%;

}



.piece09{    position: absolute;top: 20px;right: 240px; }
.piece18{    position: absolute;top: 53px;right: 263px; }
.piece1a{    position: absolute;top: 53px;right: 219px; }
.piece27{    position: absolute;top: 90px;right: 284px; }
.piece29{    position: absolute;top: 90px;right: 240px; }
.piece2b{    position: absolute;top: 90px;right: 198px; }
.piece30{    position: absolute;top:128px;right: 430px; }
.piece32{    position: absolute;top:128px;right: 391px; }
.piece34{    position: absolute;top:128px;right: 348px; }
.piece36{    position: absolute;top:128px;right: 305px; }
.piece38{    position: absolute;top:128px;right: 262px; }
.piece3a{    position: absolute;top:128px;right: 219px; }
.piece3c{    position: absolute;top:128px;right: 176px; }
.piece3e{    position: absolute;top:128px;right: 134px; }
.piece3g{    position: absolute;top:128px;right:  90px; }
.piece3i{    position: absolute;top:128px;right:  49px; }
.piece41{    position: absolute;top:165px;right: 412px; }
.piece43{    position: absolute;top:165px;right: 370px; }
.piece45{    position: absolute;top:165px;right: 327px; }
.piece47{    position: absolute;top:165px;right: 284px; }
.piece49{    position: absolute;top:165px;right: 240px; }
.piece4b{    position: absolute;top:165px;right: 198px; }
.piece4d{    position: absolute;top:165px;right: 155px; }
.piece4f{    position: absolute;top:165px;right: 112px; }
.piece4h{    position: absolute;top:165px;right:  70px; }
.piece52{    position: absolute;top:202px;right: 391px; }
.piece54{    position: absolute;top:202px;right: 348px; }
.piece56{    position: absolute;top:202px;right: 305px; }
.piece58{    position: absolute;top:202px;right: 262px; }
.piece5a{    position: absolute;top:202px;right: 219px; }
.piece5c{    position: absolute;top:202px;right: 176px; }
.piece5e{    position: absolute;top:202px;right: 134px; }
.piece5g{    position: absolute;top:202px;right:  90px; }
.piece63{    position: absolute;top:239px;right: 370px; }
.piece65{    position: absolute;top:239px;right: 327px; }
.piece67{    position: absolute;top:239px;right: 284px; }
.piece69{    position: absolute;top:239px;right: 240px; }
.piece6b{    position: absolute;top:239px;right: 198px; }
.piece6d{    position: absolute;top:239px;right: 155px; }
.piece6f{    position: absolute;top:239px;right: 112px; }
.piece72{    position: absolute;top:275px;right: 391px; }
.piece74{    position: absolute;top:275px;right: 348px; }
.piece76{    position: absolute;top:275px;right: 305px; }
.piece78{    position: absolute;top:275px;right: 262px; }
.piece7a{    position: absolute;top:275px;right: 219px; }
.piece7c{    position: absolute;top:275px;right: 176px; }
.piece7e{    position: absolute;top:275px;right: 134px; }
.piece7g{    position: absolute;top:275px;right:  90px; }
.piece81{    position: absolute;top:315px;right: 412px; }
.piece83{    position: absolute;top:315px;right: 370px; }
.piece85{    position: absolute;top:315px;right: 327px; }
.piece87{    position: absolute;top:315px;right: 284px; }
.piece89{    position: absolute;top:315px;right: 240px; }
.piece8b{    position: absolute;top:315px;right: 198px; }
.piece8d{    position: absolute;top:315px;right: 155px; }
.piece8f{    position: absolute;top:315px;right: 112px; }
.piece8h{    position: absolute;top:315px;right:  70px; }
.piece90{    position: absolute;top:350px;right: 430px; }
.piece92{    position: absolute;top:350px;right: 391px; }
.piece94{    position: absolute;top:350px;right: 348px; }
.piece96{    position: absolute;top:350px;right: 305px; }
.piece98{    position: absolute;top:350px;right: 262px; }
.piece9a{    position: absolute;top:350px;right: 219px; }
.piece9c{    position: absolute;top:350px;right: 176px; }
.piece9e{    position: absolute;top:350px;right: 134px; }
.piece9g{    position: absolute;top:350px;right:  90px; }
.piece9i{    position: absolute;top:350px;right:  49px; }
.piecea7{    position: absolute;top:387px;right: 284px; }
.piecea9{    position: absolute;top:387px;right: 240px; }
.pieceab{    position: absolute;top:387px;right: 198px; }
.pieceb8{    position: absolute;top:425px;right: 262px; }
.pieceba{    position: absolute;top:425px;right: 219px; }
.piecec9{    position: absolute;top:463px;right: 240px; }